<ul>
    {% block admin_header_links %}
    <li class="act">
        <a href="{{ oViewConf.getSelfLink()|raw }}&cl=navigation&item=home.html.twig" id="homelink" target="basefrm" class="rc">
            <b>{{ translate({ ident: "NAVIGATION_HOME" }) }}</b>
        </a>
    </li>
    <li class="sep">
        <a href="{{ oViewConf.getShopURL() }}" id="shopfrontlink" target="_blank" class="rc">
            <b>{{ translate({ ident: "NAVIGATION_SHOPFRONT" }) }}</b>
        </a>
    </li>
    <li class="sep">
        <a href="{{ oViewConf.getSelfLink()|raw }}&cl=navigation&fnc=logout" id="logoutlink" target="_parent" class="rc">
            <b>{{ translate({ ident: "NAVIGATION_LOGOUT" }) }}</b>
        </a>
    </li>
    {% endblock %}
</ul>
