{% include "headitem.html.twig" with {title: "GENERAL_ADMIN_TITLE"|translate} %}

{% if readonly or edit.blForeignArticle %}
    {% set readonly = "readonly disabled" %}
{% else %}
    {% set readonly = "" %}
{% endif %}

<form name="transfer" id="transfer" action="{{ oViewConf.getSelfLink()|raw }}" method="post">
    {{ oViewConf.getHiddenSid()|raw }}
    <input type="hidden" name="oxid" value="{{ oxid }}">
    <input type="hidden" name="cl" value="article_overview">
    <input type="hidden" name="editlanguage" value="{{ editlanguage }}">
</form>


    <table cellspacing="0" cellpadding="0" border="0" width="98%">
    <tr>
        <td valign="top" class="edittext">
            <table cellspacing="0" cellpadding="0" border="0">
                {% block admin_article_overview_statistic %}
                    <tr>
                        <td class="edittext" width="150">
                        {{ translate({ ident: "ARTICLE_OVERVIEW_ARTMADEON" }) }}
                        </td>
                        <td class="edittext">
                        {{ edit.oxarticles__oxinsert|format_date }}
                        </td>
                    </tr>
                    <tr>
                        <td class="edittext">
                        {{ translate({ ident: "ARTICLE_OVERVIEW_LASTCHANGE" }) }}
                        </td>
                        <td class="edittext">
                        {{ edit.oxarticles__oxtimestamp|format_date("datetime") }}
                        </td>
                    </tr>
                    <tr>
                        <td class="edittext" height="20">
                        {{ translate({ ident: "ARTICLE_OVERVIEW_SALEPOSITION" }) }}
                        </td>
                        <td class="edittext">
                        :&nbsp;<b>{{ postopten }}/{{ toptentotal }}</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="edittext">
                        {{ translate({ ident: "ARTICLE_OVERVIEW_TOTALORDERCNT" }) }}
                        </td>
                        <td class="edittext">
                        :&nbsp;<b>{{ totalordercnt }}</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="edittext">
                        {{ translate({ ident: "ARTICLE_OVERVIEW_SOLDCNT" }) }}
                        </td>
                        <td class="edittext">
                        :&nbsp;<b>{{ soldcnt }}</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="edittext">
                        {{ translate({ ident: "ARTICLE_OVERVIEW_CANCELEDCNT" }) }}
                        </td>
                        <td class="edittext">
                        :&nbsp;<b>{{ canceledcnt }}</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="edittext">
                        {{ translate({ ident: "ARTICLE_OVERVIEW_LEFTORDERCNT" }) }}
                        </td>
                        <td class="edittext">
                        :&nbsp;<b>{{ leftordercnt }}</b>
                        </td>
                    </tr>
                {% endblock %}
            </table>
        </td>
    </tr>
    </table>
{% include "bottomnaviitem.html.twig" %}

{% include "bottomitem.html.twig" %}
