{% include "headitem.html.twig" with {title: "GENERAL_ADMIN_TITLE"|translate, box: "list"} %}
{% set where = oView.getListFilter() %}

{% if readonly %}
    {% set readonly = "readonly disabled" %}
{% else %}
    {% set readonly = "" %}
{% endif %}

<script type="text/javascript">
<!--
window.onload = function ()
{
    top.reloadEditFrame();
    {% if updatelist == 1 %}
        top.oxid.admin.updateList('{{ oxid }}');
    {% endif %}
}
//-->
</script>

<div id="liste">

<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <colgroup>
        {% block admin_attribute_list_colgroup %}
            <col width="98%">
            <col width="2%">
        {% endblock %}
    </colgroup>
<form name="search" id="search" action="{{ oViewConf.getSelfLink()|raw }}" method="post">
{% include "_formparams.html.twig" with {cl: "attribute_list", lstrt: lstrt, actedit: actedit, oxid: oxid, fnc: "", language: actlang, editlanguage: actlang} %}
<tr class="listitem">
    {% block admin_attribute_list_filter %}
        <td valign="top" class="listfilter first" height="20" colspan="2">
            <div class="r1"><div class="b1">
            <div class="find">
                <select name="changelang" class="editinput" onChange="Javascript:top.oxid.admin.changeLanguage();">
                {% for lang in languages %}
                <option value="{{ lang.id }}" {% if lang.selected %}SELECTED{% endif %}>{{ lang.name }}</option>
                {% endfor %}
                </select>
                <input class="listedit" type="submit" name="submitit" value="{{ translate({ ident: "GENERAL_SEARCH" }) }}">
            </div>
            <input class="listedit" type="text" size="50" maxlength="128" name="where[oxattribute][oxtitle]" value="{{ where.oxattribute.oxtitle }}">
            </div></div>
        </td>
    {% endblock %}
</tr>
<tr>
    {% block admin_attribute_list_sorting %}
        <td class="listheader first" height="15" colspan="2"><a href="Javascript:top.oxid.admin.setSorting( document.search, 'oxattribute', 'oxtitle', 'asc');document.search.submit();" class="listheader">{{ translate({ ident: "GENERAL_NAME" }) }}</a></td>
    {% endblock %}
</tr>

{% set blWhite = "" %}
{% set _cnt = 0 %}
{% for listitem in mylist %}
    {% set _cnt = _cnt+1 %}
    <tr id="row.{{ _cnt }}">
        {% block admin_attribute_list_item %}
            {% if listitem.blacklist == 1 %}
                {% set listclass = "listitem3" %}
            {% else %}
                {% set listclass = 'listitem' ~ blWhite %}
            {% endif %}
            {% if listitem.getId() == oxid %}
                {% set listclass = "listitem4" %}
            {% endif %}
            <td valign="top" class="{{ listclass }}" height="15"><div class="listitemfloating">&nbsp;<a href="Javascript:top.oxid.admin.editThis('{{ listitem.oxattribute__oxid.value }}');" class="{{ listclass }}">{% if listitem.oxattribute__oxtitle.value %}{{ listitem.oxattribute__oxtitle.value }}{% else %}--{% endif %}</a></div></td>
            <td class="{{ listclass }}">
                {% include "include/attribute_list_actions.html.twig" %}
            </td>
        {% endblock %}
    </tr>
{% if blWhite == "2" %}
{% set blWhite = "" %}
{% else %}
{% set blWhite = "2" %}
{% endif %}
{% endfor %}
{% include "pagenavisnippet.html.twig" %}
</table>
</form>
</div>


{% include "pagetabsnippet.html.twig" %}

<script type="text/javascript">
if (parent.parent)
{   parent.parent.sShopTitle   = "{{ actshopobj.oxshops__oxname.getRawValue()|addslashes }}";
    parent.parent.sMenuItem    = "{{ translate({ ident: "GENERAL_MENUITEM" }) }}";
    parent.parent.sMenuSubItem = "{{ translate({ ident: "ATTRIBUTE_LIST_MENUSUBITEM" }) }}";
    parent.parent.sWorkArea    = "{{ _act }}";
    parent.parent.setTitle();
}
</script>
</body>
</html>
