{% include "headitem.html.twig" with {title: "GENERAL_ADMIN_TITLE"|translate} %}

{% if readonly %}
    {% set readonly = "readonly disabled" %}
{% else %}
    {% set readonly = "" %}
{% endif %}

<input type="hidden" name="clr" value="1">

<form name="transfer" id="transfer" action="{{ oViewConf.getSelfLink()|raw }}" method="post">
    {{ oViewConf.getHiddenSid()|raw }}
    <input type="hidden" name="oxid" value="{{ oxid }}">
    <input type="hidden" name="cl" value="category_order">
    <input type="hidden" name="editlanguage" value="{{ editlanguage }}">
</form>

<form name="myedit" id="myedit" action="{{ oViewConf.getSelfLink()|raw }}" method="post">
    {{ oViewConf.getHiddenSid()|raw }}
    <input type="hidden" name="cl" value="category_order">
    <input type="hidden" name="fnc" value="">
    <input type="hidden" name="oxid" value="{{ oxid }}">
    <input type="hidden" name="editval[category__oxid]" value="{{ oxid }}">
    {% block admin_category_order_sort_categories %}
        {% hasrights { "right": "smarty.const.RIGHT_VIEW", "object": "edit", "readonly": "readonly", } %}
            {% if oxid != oViewConf.getAjaxLink()|raw and not edit.isDerived() %}
                <input type="button" value="{{ translate({ ident: "CATEGORY_ORDER_SORTCATEGORIES" }) }}" class="edittext" onclick="JavaScript:showDialog('&cl=category_order&aoc=1&oxid={{ oxid }}');">
            {% endif %}
        {% endhasrights %}
    {% endblock %}
</form>

{% include "bottomnaviitem.html.twig" %}
{% include "bottomitem.html.twig" %}