{% include "headitem.html.twig" with {title: "CONTENT_MAIN_TITLE"|translate} %}

<script type="text/javascript">
    <!--
    function ShowMenueFields(iVal) {
        if (iVal == 2) {
            document.getElementById('cattree').style.visibility = 'visible';
        } else {
            document.getElementById('cattree').style.visibility = 'hidden';
        }

        if (iVal == 3) {
            document.getElementById('manuell').style.visibility = 'visible';
        } else {
            document.getElementById('manuell').style.visibility = 'hidden';
        }
    }

    //-->
</script>

{% if readonly %}
    {% set readonly = "readonly disabled" %}
{% else %}
    {% set readonly = "" %}
{% endif %}

<form name="transfer" id="transfer" action="{{ oViewConf.getSelfLink()|raw }}" method="post">
    {{ oViewConf.getHiddenSid()|raw }}
    <input type="hidden" name="oxid" value="{{ oxid }}">
    <input type="hidden" name="cl" value="content_main">
    <input type="hidden" name="editlanguage" value="{{ editlanguage }}">
</form>
<form name="myedit" id="myedit" action="{{ oViewConf.getSelfLink()|raw }}" method="post"
      onSubmit="copyLongDesc( 'oxcontents__oxcontent' );">
    {{ oViewConf.getHiddenSid()|raw }}
    <input type="hidden" name="cl" value="content_main">
    <input type="hidden" name="fnc" value="">
    <input type="hidden" name="oxid" value="{{ oxid }}">
    <input type="hidden" name="editval[oxcontents__oxid]" value="{{ oxid }}">
    <input type="hidden" name="folderclass" value="oxcontent">
    <input type="hidden" name="editval[oxcontents__oxcontent]" value="">

    <table cellspacing="0" cellpadding="0" border="0" width="98%">
        <colgroup>
            <col width="30%">
            <col width="5%">
            <col width="65%">
        </colgroup>
        <tr>
            <td valign="top" class="edittext" width="200">
                <table cellspacing="0" cellpadding="0" border="0">

                    {% block admin_content_main_form %}
                        {% if blLoadError %}
                            <tr>
                                <td colspan="2">
                                    <div class="errorbox">{{ translate({ ident: "CONTENT_MAIN_ERROR" }) }} {{ translate({ ident: "CONTENT_MAIN_USEDIDENTCODE" }) }}</div>
                                </td>
                            </tr>
                        {% endif %}

                        <tr>
                            <td class="edittext" width="70">
                                {{ translate({ ident: "GENERAL_ACTIVE" }) }}
                            </td>
                            <td class="edittext">
                                <input class="edittext" type="checkbox" name="editval[oxcontents__oxactive]" value='1'
                                       {% if edit.oxcontents__oxactive.value == 1 %}checked{% endif %} {{ readonly }}>
                                {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_GENERAL_ACTIVE"), 'sHelpText': help_text("HELP_GENERAL_ACTIVE")} %}
                            </td>
                        </tr>
                        <tr>
                            <td class="edittext">
                                {{ translate({ ident: "GENERAL_TITLE" }) }}
                            </td>
                            <td class="edittext">
                                <input type="text" class="editinput" size="28"
                                       maxlength="{{ edit.oxcontents__oxtitle.fldmax_length }}"
                                       name="editval[oxcontents__oxtitle]"
                                       value="{{ edit.oxcontents__oxtitle.value }}" {{ readonly }}>
                                {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_GENERAL_TITLE"), 'sHelpText': help_text("HELP_GENERAL_TITLE")} %}
                            </td>
                        </tr>
                        <tr>
                            <td class="edittext">
                                {{ translate({ ident: "GENERAL_IDENT" }) }}.
                            </td>
                            <td class="edittext">
                                <input type="text" class="editinput" size="28"
                                       maxlength="{{ edit.oxcontents__oxloadid.fldmax_length }}"
                                       name="editval[oxcontents__oxloadid]"
                                       value="{{ edit.oxcontents__oxloadid.value }}" {{ readonly }}>
                                {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_GENERAL_IDENT"), 'sHelpText': help_text("HELP_GENERAL_IDENT")} %}
                            </td>
                        </tr>
                        <tr>
                            <td class="edittext">
                                {{ translate({ ident: "GENERAL_INFOLDER" }) }}
                            </td>
                            <td class="edittext">
                                <select name="editval[oxcontents__oxfolder]" class="folderselect" {{ readonly }}>
                                    {% for field, color in afolder %}
                                        <option value="{{ field }}"
                                                {% if edit.oxcontents__oxfolder.value == field or (field|replace({ "_RR": "" }) == "CMSFOLDER_NONE" and (edit.oxcontents__oxfolder.value) == "") %}SELECTED{% endif %}
                                                style="color: {{ color }};">{{ translate({ ident: field }) }}</option>
                                    {% endfor %}
                                </select>
                                {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_GENERAL_INFOLDER"), 'sHelpText': help_text("HELP_GENERAL_INFOLDER")} %}
                            </td>
                        </tr>
                        {% if edit.oxcontents__oxloadid.value == 'oxagb' %}
                            <tr>
                                <td class="edittext">
                                    {{ translate({ ident: "CONTENT_MAIN_TERMVER" }) }}
                                </td>
                                <td class="edittext">
                                    <input type="text" class="editinput" size="28"
                                           maxlength="{{ edit.oxcontents__oxtermversion.fldmax_length }}"
                                           name="editval[oxcontents__oxtermversion]"
                                           value="{{ edit.oxcontents__oxtermversion.value }}" {{ readonly }}>
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td class="edittext" colspan="2"><br>
                                {% include "language_edit.html.twig" %}<br>
                            </td>
                        </tr>
                        <tr>
                            <td class="edittext">
                                {{ translate({ ident: "CONTENT_MAIN_SNIPPET" }) }}
                            </td>
                            <td class="edittext">
                                <input type="radio" name="editval[oxcontents__oxtype]" id="oxtype0" value="0"
                                       class="edittext" onClick="javascript:ShowMenueFields( 0);"
                                       {% if edit.oxcontents__oxsnippet.value == 1 %}CHECKED{% endif %} {{ readonly }}>
                                {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_CONTENT_MAIN_SNIPPET"), 'sHelpText': help_text("HELP_CONTENT_MAIN_SNIPPET")} %}
                            </td>
                        </tr>
                        <tr>
                            <td class="edittext">
                                {{ translate({ ident: "CONTENT_MAIN_MAINMENU" }) }}
                            </td>
                            <td class="edittext">
                                <input type="radio" name="editval[oxcontents__oxtype]" id="oxtype1" value="1"
                                       class="edittext" onClick="javascript:ShowMenueFields( 1);"
                                       {% if edit.oxcontents__oxtype.value == 1 %}CHECKED{% endif %} {{ readonly }}>
                                {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_CONTENT_MAIN_MAINMENU"), 'sHelpText': help_text("HELP_CONTENT_MAIN_MAINMENU")} %}
                            </td>
                        </tr>
                        <tr>
                            <td class="edittext">
                                {{ translate({ ident: "CONTENT_MAIN_CATEGORY" }) }}
                            </td>
                            <td class="edittext">
                                <input type="radio" name="editval[oxcontents__oxtype]" id="oxtype2" value="2"
                                       class="edittext" onClick="javascript:ShowMenueFields( 2);"
                                       {% if edit.oxcontents__oxtype.value == 2 %}CHECKED{% endif %} {{ readonly }}>
                                {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_CONTENT_MAIN_CATEGORY"), 'sHelpText': help_text("HELP_CONTENT_MAIN_CATEGORY")} %}
                            </td>
                        </tr>
                        <tr>
                            <td class="edittext">
                                {{ translate({ ident: "CONTENT_MAIN_MANUAL" }) }}
                            </td>
                            <td class="edittext">
                                <input type="radio" name="editval[oxcontents__oxtype]" id="oxtype3" value="3"
                                       class="edittext" onClick="javascript:ShowMenueFields( 3);"
                                       {% if edit.oxcontents__oxtype.value == 3 %}CHECKED{% endif %} {{ readonly }}>
                                {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_CONTENT_MAIN_MANUAL"), 'sHelpText': help_text("HELP_CONTENT_MAIN_MANUAL")} %}
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top:20px;padding-bottom:20px;" colspan="2">
                                <hr>
                            </td>
                        </tr>
                        <tr id="cattree" {% if edit.oxcontents__oxtype.value != 2 %}style="display:none;"{% endif %}>
                            <td class="edittext">
                                {{ translate({ ident: "CONTENT_MAIN_INSERTBEFORE" }) }}
                            </td>
                            <td class="edittext">
                                <select name="editval[oxcontents__oxcatid]" class="editinput" {{ readonly }}>
                                    {% for pcat in cattree %}
                                        <option value="{{ pcat.oxcategories__oxid.value }}"
                                                {% if pcat.selected %}SELECTED{% endif %}>{{ pcat.oxcategories__oxtitle.value|truncate(33, "..", true) }}</option>
                                    {% endfor %}
                                </select>
                                {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_CONTENT_MAIN_INSERTBEFORE"), 'sHelpText': help_text("HELP_CONTENT_MAIN_INSERTBEFORE")} %}
                            </td>
                        </tr>
                        <tr id="manuell" {% if edit.oxcontents__oxtype.value != 3 %}style="display:none;"{% endif %}>
                            <td class="edittext">
                                {{ translate({ ident: "GENERAL_LINK" }) }}
                            </td>
                            <td class="edittext">
                                <input type="text" size="28" class="edittext" style="font-size: 7pt;"
                                       value="{{ link|raw }}" {{ readonly }}>
                                {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_GENERAL_LINK"), 'sHelpText': help_text("HELP_GENERAL_LINK")} %}
                            </td>
                        </tr>
                    {% endblock %}
                    <tr>
                        <td class="edittext">
                        </td>
                        <td class="edittext">
                            <input type="submit" class="edittext" name="saveContent"
                                   value="{{ translate({ ident: "GENERAL_SAVE" }) }}"
                                   onClick="Javascript:document.myedit.fnc.value='save'" {{ readonly }}><br>
                        </td>
                    </tr>
                </table>
            </td>
            <td>&nbsp;</td>
            <!-- Anfang rechte Seite -->
            <td valign="top" class="edittext" align="left">
                {% block admin_content_main_editor %}
                    {% include "include/editor.html.twig" %}
                {% endblock %}
            </td>
            <!-- Ende rechte Seite -->
        </tr>
    </table>
</form>

{% include "bottomnaviitem.html.twig" %}
{% include "bottomitem.html.twig" %}
