{% include "headitem.html.twig" with {title: "GENERAL_ADMIN_TITLE"|translate} %}

<script type="text/javascript">
<!--
window.onload = function ()
{
    {% if updatelist == 1 %}
        top.oxid.admin.updateList('{{ oxid }}');
    {% endif %}
    var oField = top.oxid.admin.getLockTarget();
    oField.onchange = oField.onkeyup = oField.onmouseout = top.oxid.admin.unlockSave;
}
//-->
</script>

{% if readonly %}
    {% set readonly = "readonly disabled" %}
{% else %}
    {% set readonly = "" %}
{% endif %}

<form name="transfer" id="transfer" action="{{ oViewConf.getSelfLink()|raw }}" method="post">
    {{ oViewConf.getHiddenSid()|raw }}
    <input type="hidden" name="oxid" value="{{ oxid }}">
    <input type="hidden" name="oxidCopy" value="{{ oxid }}">
    <input type="hidden" name="cl" value="country_main">
    <input type="hidden" name="language" value="{{ actlang }}">
</form>

<form name="myedit" id="myedit" action="{{ oViewConf.getSelfLink()|raw }}" method="post">
{{ oViewConf.getHiddenSid()|raw }}
<input type="hidden" name="cl" value="country_main">
<input type="hidden" name="fnc" value="">
<input type="hidden" name="oxid" value="{{ oxid }}">
<input type="hidden" name="voxid" value="{{ oxid }}">
<input type="hidden" name="oxparentid" value="{{ oxparentid }}">
<input type="hidden" name="editval[oxcountry__oxid]" value="{{ oxid }}">
<input type="hidden" name="language" value="{{ actlang }}">

<table cellspacing="0" cellpadding="0" border="0" width="98%">
<tr>

    <td valign="top" class="edittext">

        <table cellspacing="0" cellpadding="0" border="0">
            {% block admin_country_main_form %}
                <tr>
                    <td class="edittext" width="120">
                    {{ translate({ ident: "GENERAL_ACTIVE" }) }}
                    </td>
                    <td class="edittext">
                    <input class="edittext" type="checkbox" name="editval[oxcountry__oxactive]" value='1' {% if edit.oxcountry__oxactive.value == 1 %}checked{% endif %} {{ readonly }}>
                    {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_GENERAL_ACTIVE"), 'sHelpText': help_text("HELP_GENERAL_ACTIVE")} %}
                    </td>
                </tr>
                <tr>
                    <td class="edittext">
                    {{ translate({ ident: "GENERAL_TITLE" }) }}
                    </td>
                    <td class="edittext">
                    <input type="text" class="editinput" size="40" maxlength="{{ edit.oxcountry__oxtitle.fldmax_length }}" id="oLockTarget" name="editval[oxcountry__oxtitle]" value="{{ edit.oxcountry__oxtitle.value }}" {{ readonly }}>
                    {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_GENERAL_TITLE"), 'sHelpText': help_text("HELP_GENERAL_TITLE")} %}
                    </td>
                </tr>
                <tr>
                    <td class="edittext">
                    {{ translate({ ident: "GENERAL_SHORTDESC" }) }}
                    </td>
                    <td class="edittext">
                    <input type="text" class="editinput" size="40" maxlength="{{ edit.oxcountry__oxshortdesc.fldmax_length }}" name="editval[oxcountry__oxshortdesc]" value="{{ edit.oxcountry__oxshortdesc.value }}" {{ readonly }}>
                    {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_GENERAL_SHORTDESC"), 'sHelpText': help_text("HELP_GENERAL_SHORTDESC")} %}
                    </td>
                </tr>
                <tr>
                    <td class="edittext">
                    {{ translate({ ident: "COUNTRY_MAIN_ISO2" }) }}
                    </td>
                    <td class="edittext">
                    <input type="text" class="editinput" size="5" maxlength="{{ edit.oxcountry__oxisoalpha2.fldmax_length }}" name="editval[oxcountry__oxisoalpha2]" value="{{ edit.oxcountry__oxisoalpha2.value }}" {{ readonly }}>
                    {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_COUNTRY_MAIN_ISO2"), 'sHelpText': help_text("HELP_COUNTRY_MAIN_ISO2")} %}
                    </td>
                </tr>
                <tr>
                    <td class="edittext">
                    {{ translate({ ident: "COUNTRY_MAIN_ISO3" }) }}
                    </td>
                    <td class="edittext">
                    <input type="text" class="editinput" size="5" maxlength="{{ edit.oxcountry__oxisoalpha3.fldmax_length }}" name="editval[oxcountry__oxisoalpha3]" value="{{ edit.oxcountry__oxisoalpha3.value }}" {{ readonly }}>
                    {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_COUNTRY_MAIN_ISO3"), 'sHelpText': help_text("HELP_COUNTRY_MAIN_ISO3")} %}
                    </td>
                </tr>
                <tr>
                    <td class="edittext">
                    {{ translate({ ident: "COUNTRY_MAIN_ISOUNNUM" }) }}
                    </td>
                    <td class="edittext">
                    <input type="text" class="editinput" size="5" maxlength="{{ edit.oxcountry__oxunnum3.fldmax_length }}" name="editval[oxcountry__oxunnum3]" value="{{ edit.oxcountry__oxunnum3.value }}" {{ readonly }}>
                    {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_COUNTRY_MAIN_ISOUNNUM"), 'sHelpText': help_text("HELP_COUNTRY_MAIN_ISOUNNUM")} %}
                    </td>
                </tr>
                <tr>
                    <td class="edittext">
                    {{ translate({ ident: "GENERAL_SORT" }) }}
                    </td>
                    <td class="edittext">
                    <input type="text" class="editinput" size="5" maxlength="{{ edit.oxcountry__oxorder.fldmax_length }}" name="editval[oxcountry__oxorder]" value="{{ edit.oxcountry__oxorder.value }}" {{ readonly }}>
                    {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_GENERAL_SORT"), 'sHelpText': help_text("HELP_GENERAL_SORT")} %}
                    </td>
                </tr>
                {% if blForeignCountry %}
                <tr>
                    <td class="edittext">
                    {{ translate({ ident: "COUNTRY_MAIN_OXVATSTATUS" }) }}
                    </td>
                    <td class="edittext">
                    <fieldset style="margin: 5px 0 0 0;">
                        <input type="radio" name="editval[oxcountry__oxvatstatus]" value="0" {% if edit.oxcountry__oxvatstatus.value == 0 %}checked{% endif %} {{ readonly }}>
                        {{ translate({ ident: "COUNTRY_MAIN_OXVATSTATUS_0" }) }}
                        {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_COUNTRY_MAIN_OXVATSTATUS_0"), 'sHelpText': help_text("HELP_COUNTRY_MAIN_OXVATSTATUS_0")} %}
                        <br />
                        <input type="radio" name="editval[oxcountry__oxvatstatus]" value="1" {% if edit.oxcountry__oxvatstatus.value == 1 %}checked{% endif %} {{ readonly }}>
                        {{ translate({ ident: "COUNTRY_MAIN_OXVATSTATUS_1" }) }}
                        {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_COUNTRY_MAIN_OXVATSTATUS_1"), 'sHelpText': help_text("HELP_COUNTRY_MAIN_OXVATSTATUS_1")} %}
                    </fieldset>
                    </td>
                </tr>
                {% endif %} {# $blForeignCountry #}
            {% endblock %}
        {% if oxid != oViewConf.getAjaxLink()|raw %}
        <tr>
            <td class="edittext">
            </td>
            <td class="edittext"><br>
                {% include "language_edit.html.twig" %}
            </td>
        </tr>
        {% endif %}
        <tr>
            <td class="edittext"><br><br>
            </td>
            <td class="edittext"><br><br>
            <input type="submit" class="edittext" id="oLockButton" name="saveArticle" value="{{ translate({ ident: "GENERAL_SAVE" }) }}" onClick="Javascript:document.myedit.fnc.value='save'"" {{ readonly }} {% if not edit.oxcountry__oxtitle.value and not oxparentid %}disabled{% endif %}><br>
            </td>
        </tr>


        </table>
    </td>
    <!-- Anfang rechte Seite -->
    <td valign="top" class="edittext" align="left" width="55%">
        {% block admin_country_main_description %}
            {{ translate({ ident: "COUNTRY_MAIN_OPDESCRIPTION" }) }}<br>
            <textarea class="editinput" style="width:250;height:100;" wrap="VIRTUAL" name="editval[oxcountry__oxlongdesc]" {{ readonly }}>{{ edit.oxcountry__oxlongdesc.value }}</textarea>
        {% endblock %}
    </td>
    <!-- Ende rechte Seite -->

    </tr>
</table>

</form>

{% include "bottomnaviitem.html.twig" %}

{% include "bottomitem.html.twig" %}
