{% include "headitem.html.twig" with {title: "GENERAL_ADMIN_TITLE"|translate, box: "list"} %}
{% set where = oView.getListFilter() %}

{% if readonly %}
    {% set readonly = "readonly disabled" %}
{% else %}
    {% set readonly = "" %}
{% endif %}

<script type="text/javascript">
<!--
window.onload = function ()
{
    top.reloadEditFrame();
    {% if updatelist == 1 %}
        top.oxid.admin.updateList('{{ oxid }}');
    {% endif %}
}
//-->
</script>

<div id="liste">

<form name="search" id="search" action="{{ oViewConf.getSelfLink()|raw }}" method="post">
{% include "_formparams.html.twig" with {cl: "deliveryset_list", lstrt: lstrt, actedit: actedit, oxid: oxid, fnc: "", language: actlang, editlanguage: actlang} %}
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <colspan>
        {% block admin_deliveryset_list_colgroup %}
        	<col width="3%">
            <col width="95%">
            <col width="2%">
        {% endblock %}
    </colspan>
    <tr class="listitem">
        {% block admin_deliveryset_list_filter %}
        	<td valign="top" class="listfilter first" align="right">
                <div class="r1"><div class="b1">&nbsp;</div></div>
        	</td>
            <td valign="top" class="listfilter" height="20" colspan="2">
            <div class="r1"><div class="b1">
            <div class="find">
                <select name="changelang" class="editinput" onChange="Javascript:top.oxid.admin.changeLanguage();">
                {% for lang in languages %}
                <option value="{{ lang.id }}" {% if lang.selected %}SELECTED{% endif %}>{{ lang.name }}</option>
                {% endfor %}
                </select>
                <input class="listedit" type="submit" name="submitit" value="{{ translate({ ident: "GENERAL_SEARCH" }) }}">
            </div>
            <input class="listedit" type="text" size="50" maxlength="128" name="where[oxdeliveryset][oxtitle]" value="{{ where.oxdeliveryset.oxtitle }}">
            </div></div>
            </td>
        {% endblock %}
    </tr>
    <tr>
        {% block admin_deliveryset_list_sorting %}
        	<td class="listheader first" height="15" width="30" align="center"><a href="Javascript:top.oxid.admin.setSorting( document.search, 'oxdeliveryset', 'oxactive', 'asc');document.search.submit();" class="listheader">{{ translate({ ident: "GENERAL_ACTIVTITLE" }) }}</a></td>
            <td class="listheader" height="15" colspan="2">&nbsp;<a href="Javascript:top.oxid.admin.setSorting( document.search, 'oxdeliveryset', 'oxtitle', 'asc');document.search.submit();" class="listheader">{{ translate({ ident: "GENERAL_NAME" }) }}</a></td>
        {% endblock %}
    </tr>

{% set blWhite = "" %}
{% set _cnt = 0 %}
{% for listitem in mylist %}
    {% set _cnt = _cnt+1 %}
    <tr id="row.{{ _cnt }}">
        {% block admin_deliveryset_list_item %}
            {% if listitem.blacklist == 1 %}
                {% set listclass = "listitem3" %}
            {% else %}
                {% set listclass = 'listitem' ~ blWhite %}
            {% endif %}
            {% if listitem.getId() == oxid %}
                {% set listclass = "listitem4" %}
            {% endif %}
            <td valign="top" class="{{ listclass }}{% if listitem.oxdeliveryset__oxactive.value == 1 %} active{% endif %}" height="15"><div class="listitemfloating">&nbsp</a></div></td>
            <td valign="top" class="{{ listclass }}" height="15"><div class="listitemfloating">&nbsp;<a href="Javascript:top.oxid.admin.editThis('{{ listitem.oxdeliveryset__oxid.value }}');" class="{{ listclass }}">{{ listitem.oxdeliveryset__oxtitle.value|raw }}</a></div></td>
            <td class="{{ listclass }}">
              {% if not readonly %}
                  {% include "include/deliveryset_list_item_actions.html.twig" %}
              {% endif %}
            </td>
        {% endblock %}
    </tr>
{% if blWhite == "2" %}
{% set blWhite = "" %}
{% else %}
{% set blWhite = "2" %}
{% endif %}
{% endfor %}
{% include "pagenavisnippet.html.twig" with {colspan: "3"} %}
</table>
</form>
</div>

{% include "pagetabsnippet.html.twig" %}

<script type="text/javascript">
if (parent.parent)
{   parent.parent.sShopTitle   = "{{ actshopobj.oxshops__oxname.getRawValue()|addslashes }}";
    parent.parent.sMenuItem    = "{{ translate({ ident: "DELIVERYSET_LIST_MENUITEM" }) }}";
    parent.parent.sMenuSubItem = "{{ translate({ ident: "DELIVERYSET_LIST_MENUSUBITEM" }) }}";
    parent.parent.sWorkArea    = "{{ _act }}";
    parent.parent.setTitle();
}
</script>
</body>
</html>