{% include "headitem.html.twig" with {title: "GENERAL_ADMIN_TITLE"|translate} %}

{% if readonly %}
    {% set readonly = "readonly disabled" %}
{% else %}
    {% set readonly = "" %}
{% endif %}

<form name="transfer" id="transfer" action="{{ oViewConf.getSelfLink()|raw }}" method="post">
    {{ oViewConf.getHiddenSid()|raw }}
    <input type="hidden" name="oxid" value="{{ oxid }}">
    <input type="hidden" name="cl" value="delivery_articles">
    <input type="hidden" name="editlanguage" value="{{ editlanguage }}">
</form>


<form name="myedit" id="myedit" action="{{ oViewConf.getSelfLink()|raw }}" method="post">
{{ oViewConf.getHiddenSid()|raw }}
<input type="hidden" name="cl" value="delivery_articles">
<input type="hidden" name="fnc" value="">
<input type="hidden" name="oxid" value="{{ oxid }}">
<input type="hidden" name="editval[oxdelivery__oxid]" value="{{ oxid }}">

<table cellspacing="0" cellpadding="0" border="0" width="98%">
<tr>
    <!-- Anfang rechte Seite -->
    <td valign="top" class="edittext" align="left">
        <input {{ readonly }} type="button" value="{{ translate({ ident: "GENERAL_ASSIGNCATEGORIES" }) }}" class="edittext" onclick="JavaScript:showDialog('&cl=delivery_articles&aoc=2&oxid={{ oxid }}');">
    </td>
    <!-- Ende rechte Seite -->
    <!-- Anfang rechte Seite -->
    <td valign="top" class="edittext" align="left" width="50%">
        <input {{ readonly }} type="button" value="{{ translate({ ident: "GENERAL_ASSIGNARTICLES" }) }}" class="edittext" onclick="JavaScript:showDialog('&cl=delivery_articles&aoc=1&oxid={{ oxid }}');">
    </td>
    <!-- Ende rechte Seite -->
    </tr>
</table>
</form>

{% include "bottomnaviitem.html.twig" %}
{% include "bottomitem.html.twig" %}
