{% include "headitem.html.twig" with {title: "OXDIAG_MAIN_TITLE"|translate, box: "list"} %}

<script type="text/javascript">
    if (parent.parent)
    {   parent.parent.sShopTitle   = "{{ actshopobj.oxshops__oxname.getRawValue()|addslashes }}";
        parent.parent.sMenuItem    = "{{ translate({ ident: "OXDIAG_LIST_MENUITEM" }) }}";
        parent.parent.sMenuSubItem = "{{ translate({ ident: "OXDIAG_LIST_MENUSUBITEM" }) }}";
        parent.parent.sWorkArea    = "{{ _act }}";
        parent.parent.setTitle();
    }
</script>

<script type="text/javascript">
<!--
window.onload = function ()
{
    top.reloadEditFrame();
    {% if updatelist == 1 %}
        top.oxid.admin.updateList('{{ oxid }}');
    {% endif %}
}
//-->
</script>

<div id="liste">

</div>

{% include "pagetabsnippet.html.twig" %}

</body>
</html>