{% include "headitem.html.twig" with {title: "GENERAL_ADMIN_TITLE"|translate} %}

<script type="text/javascript">
<!--
window.onload = function ()
{
    {% if updatelist == 1 %}
        top.oxid.admin.updateList('{{ oxid }}');
    {% endif %}
    var oField = top.oxid.admin.getLockTarget();
    oField.onchange = oField.onkeyup = oField.onmouseout = top.oxid.admin.unlockSave;
}
//-->
</script>

{% if readonly %}
    {% set readonly = "readonly disabled" %}
{% else %}
    {% set readonly = "" %}
{% endif %}

<form name="transfer" id="transfer" action="{{ oViewConf.getSelfLink()|raw }}" method="post">
    {{ oViewConf.getHiddenSid()|raw }}
    <input type="hidden" name="oxid" value="{{ oxid }}">
    <input type="hidden" name="oxidCopy" value="{{ oxid }}">
    <input type="hidden" name="cl" value="language_main">
    <input type="hidden" name="language" value="{{ actlang }}">
</form>

<form name="myedit" id="myedit" action="{{ oViewConf.getSelfLink()|raw }}" method="post">
{{ oViewConf.getHiddenSid()|raw }}
<input type="hidden" name="cl" value="language_main">
<input type="hidden" name="fnc" value="">
<input type="hidden" name="oxid" value="{{ oxid }}">
<input type="hidden" name="voxid" value="{{ oxid }}">
<input type="hidden" name="editval[oxid]" value="{{ oxid }}">
<input type="hidden" name="language" value="{{ actlang }}">


<table cellspacing="0" cellpadding="0" border="0" width="98%">
<tr>
    <td valign="top" class="edittext">

        <table cellspacing="0" cellpadding="0" border="0">
        {% block admin_language_main_form %}
            <tr>
                <td class="edittext" width="120">
                {{ translate({ ident: "LANGUAGE_ACTIVE" }) }}
                </td>
                <td class="edittext">
                <input class="edittext" type="checkbox" name="editval[active]" value='1' {% if edit.active == 1 %}checked{% endif %} {{ readonly }}>
                {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_LANGUAGE_ACTIVE"), 'sHelpText': help_text("HELP_LANGUAGE_ACTIVE")} %}
                </td>
            </tr>
            <tr>
                <td class="edittext">
                {{ translate({ ident: "LANGUAGE_ABBERVATION" }) }}
                </td>
                <td class="edittext">
                <input type="text" class="editinput" size="5" maxlength="10" id="oLockTarget" name="editval[abbr]" value="{{ edit.abbr }}" {{ readonly }}>
                {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_LANGUAGE_ABBERVATION"), 'sHelpText': help_text("HELP_LANGUAGE_ABBERVATION")} %}
                </td>
            </tr>
            <tr>
                <td class="edittext">
                {{ translate({ ident: "LANGUAGE_DESCRIPTION" }) }}
                </td>
                <td class="edittext">
                <input type="text" class="editinput" size="40" maxlength="50" name="editval[desc]" value="{{ edit.desc }}" {{ readonly }}>
                {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_LANGUAGE_DESCRIPTION"), 'sHelpText': help_text("HELP_LANGUAGE_DESCRIPTION")} %}
                </td>
            </tr>
            <tr>
                <td class="edittext">
                {{ translate({ ident: "LANGUAGE_DEFAULT" }) }}
                </td>
                <td class="edittext">
                <input class="edittext" type="checkbox" name="editval[default]" value='1' {% if edit.default %}checked{% endif %} {{ readonly }}>
                {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_LANGUAGE_DEFAULT"), 'sHelpText': help_text("HELP_LANGUAGE_DEFAULT")} %}
                </td>
            </tr>
            <tr>
                <td class="edittext">
                {{ translate({ ident: "LANGUAGE_BASEURL" }) }}
                </td>
                <td class="edittext">
                <input type="text" class="editinput" size="40" maxlength="255" name="editval[baseurl]" value="{{ edit.baseurl }}" {{ readonly }}>
                {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_LANGUAGE_BASEURL"), 'sHelpText': help_text("HELP_LANGUAGE_BASEURL")} %}
                </td>
            </tr>
            <tr>
                <td class="edittext">
                {{ translate({ ident: "LANGUAGE_BASESSLURL" }) }}
                </td>
                <td class="edittext">
                <input type="text" class="editinput" size="40" maxlength="255" name="editval[basesslurl]" value="{{ edit.basesslurl }}" {{ readonly }}>
                {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_LANGUAGE_BASESSLURL"), 'sHelpText': help_text("HELP_LANGUAGE_BASESSLURL")} %}
                </td>
            </tr>
            {% if oxid != -1 %}
            <tr>
                <td class="edittext">
                {{ translate({ ident: "LANGUAGE_LANGUAGEID" }) }}
                </td>
                <td class="edittext">
                    {{ edit.baseId }}
                </td>
            </tr>
            {% endif %}
            <tr>
                <td class="edittext">
                {{ translate({ ident: "GENERAL_SORT" }) }}
                </td>
                <td class="edittext">
                <input type="text" class="editinput" size="5" maxlength="5" name="editval[sort]" value="{{ edit.sort }}" {{ readonly }}>
                {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_GENERAL_SORT"), 'sHelpText': help_text("HELP_GENERAL_SORT")} %}
                </td>
            </tr>
        {% endblock %}
        <tr>
            <td class="edittext"><br><br>
            </td>
            <td class="edittext"><br><br>
            <input type="submit"  {% if not edit.abbr %}disabled{% endif %} class="edittext" id="oLockButton" name="saveArticle" value="{{ translate({ ident: "GENERAL_SAVE" }) }}" onClick="Javascript:document.myedit.fnc.value='save'"" {{ readonly }}><br>
            </td>
        </tr>
        </table>
    </td>

    </tr>
</table>

</form>

{% include "bottomnaviitem.html.twig" %}

{% include "bottomitem.html.twig" %}
