{% include "headitem.html.twig" with {title: "SHOWLIST_TITLE"|translate, box: " "} %}

{% set where = oView.getListFilter() %}
{% set whereparam = "" %}
{% for sTable, aField in where %}
  {% for sField, sFilter in aField %}
    {% set whereparam = whereparam|cat("where[")|cat(sTable)|cat("][")|cat(sField)|cat("]=")|cat(sFilter)|cat("&amp;") %}
  {% endfor %}
{% endfor %}
{% set viewListSize = oView.getViewListSize() %}
{% set whereparam = whereparam|cat("viewListSize=")|cat(viewListSize) %}

<script type="text/javascript">
<!--
function editThis ( sID )
{
    {% set shMen = 1 %}

    {% for menuholder in menustructure %}
      {% if shMen and menuholder.nodeType == "XML_ELEMENT_NODE" and menuholder.childNodes.length %}

        {% set shMen = 0 %}
        {% set mn = 1 %}

        {% for menuitem in menuholder.childNodes %}
          {% if menuitem.nodeType == "XML_ELEMENT_NODE" and menuitem.childNodes.length %}
            {% if menuitem.getAttribute('id') == 'mxmanageprod' %}

              {% for submenuitem in menuitem.childNodes %}
                {% if submenuitem.nodeType == "XML_ELEMENT_NODE" and submenuitem.getAttribute('cl') == 'article' %}

                    if ( top && top.navigation && top.navigation.adminnav ) {
                        var _sbli = top.navigation.adminnav.document.getElementById( 'nav-1-{{ mn }}-1' );
                        var _sba = _sbli.getElementsByTagName( 'a' );
                        top.navigation.adminnav._navAct( _sba[0] );
                    }

                {% endif %}
              {% endfor %}

            {% endif %}
            {% set mn = mn+1 %}

          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}

    var oTransfer = document.getElementById("transfer");
    oTransfer.oxid.value=sID;
    oTransfer.cl.value='article';
    oTransfer.submit();
}

function changeLanguage()
{
    var oList = document.getElementById("showlist");
    oList.language.value=oList.changelang.value;
    oList.editlanguage.value=oList.changelang.value;
    oList.submit();
}
//-->
</script>

<form name="transfer" id="transfer" action="{{ oViewConf.getSelfLink()|raw }}" method="post">
    {{ oViewConf.getHiddenSid()|raw }}
    <input type="hidden" name="oxid" value="{{ oxid }}">
    <input type="hidden" name="cl" value="">
    <input type="hidden" name="updatelist" value="1">
    <input type="hidden" name="language" value="{{ actlang }}">
    <input type="hidden" name="editlanguage" value="{{ actlang }}">
</form>

{% if noresult %}
    <span class="listitem">
        <b>{{ translate({ ident: "SHOWLIST_NORESULTS" }) }}</b><br><br>
    </span>
{% endif %}

<div id="liste">
<form name="showlist" id="showlist" action="{{ oViewConf.getSelfLink()|raw }}" method="post">
{{ oViewConf.getHiddenSid()|raw }}
<input type="hidden" name="cl" value="list_review">
<input type="hidden" name="language" value="{{ actlang }}">
<input type="hidden" name="editlanguage" value="{{ actlang }}">

<table cellspacing="0" cellpadding="0" border="0" width="99%">
    <colgroup>
        {% block admin_list_review_colgroup %}
            <col width="5%">
            <col width="70%">
            <col width="25%">
        {% endblock %}
    </colgroup>
    <tr>
    {% block admin_list_review_filter %}
    <td class="listfilter first">
        <div class="r1"><div class="b1">
        <input class="listedit" type="text" size="15" maxlength="128" name="where[oxreviews][oxcreate]" value="{{ where.oxreviews.oxcreate }}">
        </div></div>
    </td>
    <td class="listfilter">
        <div class="r1"><div class="b1">
        <input class="listedit" type="text" size="15" maxlength="128" name="where[oxreviews][oxtext]" value="{{ where.oxreviews.oxtext }}">
        </div></div>
    </td>
    <td class="listfilter" nowrap>
        <div class="r1"><div class="b1">
        <div class="find">
            <select name="changelang" class="editinput" onChange="Javascript:changeLanguage();">
              {% for lang in languages %}
              <option value="{{ lang.id }}" {% if lang.selected %}SELECTED{% endif %}>{{ lang.name }}</option>
              {% endfor %}
            </select>
            <select name="viewListSize" class="editinput" onChange="JavaScript:top.oxid.admin.changeListSize()">
              <option value="50" {% if viewListSize == 50 %}SELECTED{% endif %}>50</option>
              <option value="100" {% if viewListSize == 100 %}SELECTED{% endif %}>100</option>
              <option value="200" {% if viewListSize == 200 %}SELECTED{% endif %}>200</option>
            </select>
            <input class="listedit" type="submit" name="submitit" value="{{ translate({ ident: "GENERAL_SEARCH" }) }}">
        </div>

        <input class="listedit" type="text" size="15" maxlength="128" name="where[oxarticles][oxtitle]" value="{{ where.oxarticles.oxtitle }}">

        </div>
      </div>
    </td>
    {% endblock %}
</tr>
<tr>
    {% block admin_list_review_sorting %}
        <td class="listheader first"><a href="javascript:top.oxid.admin.setSorting( document.forms.showlist, 'oxreviews', 'oxcreate', 'asc');document.forms.showlist.submit();" class="listheader">{{ translate({ ident: "snpreviewlistoxcreate" }) }}</a></td>
        <td class="listheader"><a href="javascript:top.oxid.admin.setSorting( document.forms.showlist, 'oxreviews', 'oxtext', 'asc');document.forms.showlist.submit();" class="listheader">{{ translate({ ident: "snpreviewlistoxtext" }) }}</a></td>
        <td class="listheader"><a href="javascript:top.oxid.admin.setSorting( document.forms.showlist, '', 'arttitle', 'asc');document.forms.showlist.submit();" class="listheader">{{ translate({ ident: "snpreviewlistoxtitle" }) }}</a></td>
    {% endblock %}
</tr>

{% set blWhite = "" %}
{% set _cnt = 0 %}
{% for oReview in mylist %}
    {% set _cnt = _cnt+1 %}
    <tr id="row.{{ _cnt }}">
        {% block admin_list_review_item %}
            <td align="center" class="listitem{{ blWhite }}" valign="top"><a href="Javascript:editThis( '{{ oReview.oxreviews__oxobjectid.value }}');" class="listitem{{ blWhite }}">{{ oReview.oxreviews__oxcreate|format_date }}</a></td>
            <td class="listitem{{ blWhite }}" valign="top"><a href="Javascript:editThis( '{{ oReview.oxreviews__oxobjectid.value }}');" class="listitem{{ blWhite }}">{{ oReview.oxreviews__oxtext.value }}</a></td>
            <td class="listitem{{ blWhite }}" valign="top"><a href="Javascript:editThis( '{{ oReview.oxreviews__oxobjectid.value }}');" class="listitem{{ blWhite }}">{% if oReview.oxreviews__oxparentid.value %}{{ oReview.oxreviews__parenttitle.value }} {{ oReview.oxreviews__oxvarselect.value }}{% else %}{{ oReview.oxreviews__oxtitle.value }}{% endif %}</a></td>
        {% endblock %}
    </tr>
{% if blWhite == "2" %}
    {% set blWhite = "" %}
{% else %}
    {% set blWhite = "2" %}
{% endif %}
{% endfor %}
{% include "pagenavisnippet.html.twig" with {colspan: "8"} %}

</table>
</form>

</div>

<script type="text/javascript">
if (parent.parent)
{   parent.parent.sShopTitle   = "{{ actshopobj.oxshops__oxname.getRawValue()|addslashes }}";
    parent.parent.sMenuItem    = "{{ translate({ ident: "GENERAL_MENUITEM" }) }}";
    parent.parent.sMenuSubItem = "{{ translate({ ident: "snpreviewlistheader" }) }}";
    parent.parent.sWorkArea    = "{{ _act }}";
    parent.parent.setTitle();
}
</script>
</body>
</html>
