{% include "headitem.html.twig" with {title: "GENERAL_ADMIN_TITLE"|translate, box: "box"} %}

<script type="text/javascript">
<!--
function _groupExp(el) {
    var _cur = el.parentNode;

    if (_cur.className == "exp") _cur.className = "";
      else _cur.className = "exp";
}
//-->
</script>

{% if readonly %}
    {% set readonly = "readonly disabled" %}
{% else %}
    {% set readonly = "" %}
{% endif %}



<form name="transfer" id="transfer" action="{{ oViewConf.getSelfLink()|raw }}" method="post">
    {{ oViewConf.getHiddenSid()|raw }}
    <input type="hidden" name="oxid" value="{{ oModule.getInfo('id') }}">
    <input type="hidden" name="cl" value="module_config">
    <input type="hidden" name="fnc" value="">
    <input type="hidden" name="actshop" value="{{ oViewConf.getActiveShopId() }}">
    <input type="hidden" name="updatenav" value="">
    <input type="hidden" name="editlanguage" value="{{ editlanguage }}">
</form>

<form name="module_configuration" id="moduleConfiguration" action="{{ oViewConf.getSelfLink()|raw }}" method="post">
{{ oViewConf.getHiddenSid()|raw }}
<input type="hidden" name="cl" value="module_config">
<input type="hidden" name="fnc" value="save">
<input type="hidden" name="oxid" value="{{ oModule.getInfo('id') }}">
<input type="hidden" name="editval[oxshops__oxid]" value="{{ oxid }}">

{% block admin_module_config_form %}

{% set _clear_ = smarty_cycle(["", "2"]) %}

    {% for var_group, var_list in var_grouping %}
        {% block admin_module_config_group %}
        <div class="groupExp">
            <div class="{% block admin_module_config_group_class %}{% endblock %}">
                <a href="#" onclick="_groupExp(this);return false;" class="rc"><b>{{ translate({ ident: "SHOP_MODULE_GROUP_" ~ var_group }) }}</b></a>
                {% for module_var, var_type in var_list %}
                    {% block admin_module_config_var %}
                    <dl>
                        <dt>
                            {% block admin_module_config_var_types %}
                            
                            {% if var_type == 'bool' %}
                                {% block admin_module_config_var_type_bool %}
                                <input type=hidden name="confbools[{{ module_var }}]" value=false>
                                <input type=checkbox name="confbools[{{ module_var }}]" value=true  {% if (confbools[module_var]) %}checked{% endif %} {{ readonly }}>
                                {% endblock %}
                            {% elseif var_type == 'str' %}
                                {% block admin_module_config_var_type_str %}
                                <input type=text  class="txt" style="width: 250px;" name="confstrs[{{ module_var }}]" value="{{ confstrs[module_var]|raw }}" {{ readonly }}>
                                {% endblock %}
                            {% elseif var_type == 'num' %}
                                {% block admin_module_config_var_type_num %}
                                <input type=text  class="txt" style="width: 50px;" name="confnum[{{ module_var }}]" value="{{ confnum[module_var]|raw }}" {{ readonly }}>
                                {% endblock %}
                            {% elseif var_type == 'arr' %}
                                {% block admin_module_config_var_type_arr %}
                                <textarea class="txtfield" name="confarrs[{{ module_var }}]" {{ readonly }}>{{ confarrs[module_var]|raw }}</textarea>
                                {% endblock %}
                            {% elseif var_type == 'aarr' %}
                                {% block admin_module_config_var_type_aarr %}
                                <textarea class="txtfield" style="width: 430px;" name="confaarrs[{{ module_var }}]" wrap="off" {{ readonly }}>{{ confaarrs[module_var]|raw }}</textarea>
                                {% endblock %}
                            {% elseif var_type == 'select' %}
                                {% block admin_module_config_var_type_select %}
                                <select class="select" name="confselects[{{ module_var }}]" {{ readonly }}>
                                    {% for _field in var_constraints[module_var] %}
                                        <option value="{{ _field|escape }}"  {% if (confselects[module_var] == _field) %}selected{% endif %}>{{ translate({ ident: "SHOP_MODULE_" ~ module_var ~ "_" ~ _field }) }}</option>
                                    {% endfor %}
                                </select>
                                {% endblock %}
                            {% elseif var_type == 'password' %}
                                {% block admin_module_config_var_type_password %}
                                <input class="password_input" type="password" style="width: 250px;" name="confpassword[{{ module_var }}]" data-empty="{% if confpassword[module_var] %}false{% else %}true{% endif %}" data-errorMessage="{{ translate({ ident: "MODULE_PASSWORDS_DO_NOT_MATCH" }) }}" {{ readonly }} title="{{ translate({ ident: "MODULE_REPEAT_PASSWORD" }) }}">
                                {% endblock %}
                            {% endif %}
                            
                            {% endblock %}
                            {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_SHOP_MODULE_" ~ module_var), 'sHelpText': help_text("HELP_SHOP_MODULE_" ~ module_var)} %}
                        </dt>
                        <dd>
                            {{ translate({ ident: "SHOP_MODULE_" ~ module_var }) }}
                        </dd>
                        <div class="spacer"></div>
                    </dl>
                    {% endblock %}
                {% endfor %}
             </div>
         </div>
         {% endblock %}
    {% endfor %}
<br>
{% if var_grouping %}
    <input type="submit" class="confinput" name="save" value="{{ translate({ ident: "GENERAL_SAVE" }) }}" onClick="Javascript:document.module_configuration.fnc.value='save'" {{ readonly }}>
{% endif %}

{{ script({ include: "js/libs/jquery.min.js", dynamic: __oxid_include_dynamic }) }}
{{ script({ include: "js/libs/jquery-ui.min.js", dynamic: __oxid_include_dynamic }) }}
{{ script({ include: "js/widgets/oxmoduleconfiguration.js", dynamic: __oxid_include_dynamic }) }}

{{ script({ add: "$('#moduleConfiguration').oxModuleConfiguration();", priority: 10, dynamic: __oxid_include_dynamic }) }}
{{ script({ add: "$.noConflict();", priority: 10, dynamic: __oxid_include_dynamic }) }}


{% endblock %}

</form>
{% include "bottomnaviitem.html.twig" %}
{% include "bottomitem.html.twig" %}