{% set submenuIndex = 0 %}
{% set mainMenu = "nav-1" %}
{% set historyMenu = "nav-2" %}
{% set favoritesMenu = "nav-3" %}
{% set historyMenuHeader = historyMenu ~ "-1" %}
{% set favoritesMenuHeader = favoritesMenu ~ "-1" %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html id="nav">
<head>
    <title>{{ translate({ ident: "NAVIGATION_TITLE" }) }}</title>
    <link rel="stylesheet" href="{{ oViewConf.getResourceUrl()|raw }}nav.css">
    <link rel="stylesheet" href="{{ oViewConf.getResourceUrl()|raw }}colors_{{ oViewConf.getEdition()|lower }}.css">
    <meta http-equiv="Content-Type" content="text/html; charset={{ charset }}">
    <script type="text/javascript">
        {% if loadbasefrm %}
        //reloading main frame
        window.onload = function () {
            if ('{{ listview }}' != '') {
                top.basefrm.list.location = "{{ oViewConf.getSelfLink()|replace({"&amp;": "&"})|raw }}&cl={{ listview }}&oxid={{ oViewConf.getActiveShopId() }}&actedit={{ actedit }}";
                top.basefrm.edit.location = "{{ oViewConf.getSelfLink()|replace({"&amp;": "&"})|raw }}&cl={{ editview }}&oxid={{ oViewConf.getActiveShopId() }}";
            } else if (top.basefrm) {
                top.basefrm.location = "{{ oViewConf.getSelfLink()|replace({"&amp;": "&"})|raw }}&cl=navigation&item=home.html.twig";
            }
        }
        {% endif %}
    </script>
</head>
<body>
<div id="shopLogo">
    <img src="{{ oViewConf.getImageUrl('logo.svg')|raw }}"/>
</div>
<table>
    <tr>
        <td class="main">
            {% include "include/navigation_shopselect.html.twig" %}
            {% block admin_navigation_menustructure %}
                {% for menuholder in menustructure %}
                    {% if menuholder.nodeType == constant("XML_ELEMENT_NODE") and menuholder.childNodes.length %}
                        {% set menuIndex = 0 %}
                        <h2>
                            {% if menuholder.getAttribute('url') %}
                            <a href="{{ oViewConf.getSelfLink()|raw }}&cl=navigation&amp;fnc=exturl&amp;url={{ menuholder.getAttribute('url')|escape('url') }}"
                                    target="basefrm">
                            {% endif %}
                                {{ translate({ ident: menuholder.getAttribute('name')|default(menuholder.getAttribute('id')), noerror: true }) }}
                            {% if menuholder.getAttribute('url') %}
                            </a>
                            {% endif %}
                        </h2>
                        <ul>
                            {% apply spaceless %}
                                {% for menuitem in menuholder.childNodes %}
                                    {% set actClass = menuitem.childNodes.length %}
                                    {% if menuitem.nodeType == constant("XML_ELEMENT_NODE") %}
                                        {% set menuIndex = menuIndex + 1 %}
                                        {% set submenuIndex = 0 %}
                                        <li class="{% if menuitem.getAttribute('active') %}exp{% endif %}"
                                            id="{{ mainMenu }}-{{ menuIndex }}">
                                            {% if menuitem.getAttribute('url') %}
                                                <a href="{{ menuitem.getAttribute('url')|raw }}"
                                                   onclick="_navAct(this);"
                                                   class="rc"
                                                   target="{% if menuitem.getAttribute('target') %}{{ menuitem.getAttribute('target') }}{% else %}basefrm{% endif %}">
                                                    <b>
                                                        {{ translate({ ident: menuitem.getAttribute('name')|default(menuitem.getAttribute('id')), noerror: true }) }}
                                                    </b>
                                                </a>
                                            {% elseif menuitem.getAttribute('expand') == 'none' %}
                                                <a href="{{ menuitem.getAttribute('link')|raw }}"
                                                   onclick="_navAct(this);"
                                                   target="basefrm"
                                                   class="rc">
                                                    <b>
                                                        {{ translate({ ident: menuitem.getAttribute('name')|default(menuitem.getAttribute('id')), noerror: true }) }}
                                                    </b>
                                                </a>
                                            {% else %}
                                                <a href="#"
                                                   onclick="_navExp(this);return false;"
                                                   class="rc">
                                                    <b>
                                                        {{ translate({ ident: menuitem.getAttribute('name')|default(menuitem.getAttribute('id')), noerror: true }) }}
                                                    </b>
                                                </a>
                                            {% endif %}
                                            {% if menuitem.childNodes.length %}
                                                <ul>
                                                    {% for submenuitem in menuitem.childNodes %}
                                                        {% if submenuitem.nodeType == constant("XML_ELEMENT_NODE") %}
                                                            {% set submenuIndex = submenuIndex + 1 %}
                                                            {% if submenuitem.getAttribute('linkicon') %} {% set linkicon = submenuitem.getAttribute('linkicon') %}{% endif %}
                                                            <li class="{% if submenuitem.getAttribute('active') %}act{% endif %}"
                                                                id="{{ mainMenu }}-{{ menuIndex }}-{{ submenuIndex }}"
                                                                name="nav_{{ submenuitem.getAttribute('cl') }}"
                                                                rel="{{ mainMenu }}-{{ menuIndex }}">
                                                                <a href="{% if submenuitem.getAttribute('url') %}{{ submenuitem.getAttribute('url')|raw }}{% else %}{{ submenuitem.getAttribute('link')|raw }}{% endif %}"
                                                                   onclick="_navAct(this);"
                                                                   target="basefrm"
                                                                   class="rc">
                                                                    <b>
                                                                        {% if linkicon %}
                                                                        <span class="{{ linkicon }}">
                                                                        {% endif %}
                                                                            {{ translate({ ident: submenuitem.getAttribute('name')|default(submenuitem.getAttribute('id')), noerror: true }) }}
                                                                        {% if linkicon %}
                                                                        </span>
                                                                        {% endif %}
                                                                    </b>
                                                                </a>
                                                            </li>
                                                            {% set linkicon = '' %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endapply %}
                        </ul>
                    {% endif %}
                {% endfor %}
            {% endblock %}
        </td>
    </tr>

    <tr>
        <td class="extra">

            <ul>
                {% block admin_navigation_history %}
                    {% apply spaceless %}
                        <li id="{{ historyMenuHeader }}"
                            class="{% if blOpenHistory %}exp{% endif %}">
                            <a class="rc"
                               name="_hist"
                               href="{{ oViewConf.getSelfLink()|raw }}&cl=navigation&item=navigation.html.twig&openHistory=1&{{ 'now'|date('U') }}#_hist">
                                <b>
                                    {{ translate({ ident: "NAVIGATION_HISTORY", noerror: true }) }}
                                </b>
                            </a>
                            <ul>
                                {% for submenuitem in menuhistory %}
                                    {% if submenuitem.nodeType == constant("XML_ELEMENT_NODE") %}
                                        {% set submenuIndex = submenuIndex + 1 %}
                                        <li id="{{ historyMenuHeader }}-{{ submenuIndex }}"
                                            class="">
                                            <a href="{{ submenuitem.getAttribute('link')|raw }}"
                                               onclick="_navAct(this);"
                                               target="basefrm"
                                               class="rc">
                                                <b>
                                                    {{ translate({ ident: submenuitem.getAttribute('name')|default(submenuitem.getAttribute('id')), noerror: true }) }}
                                                </b>
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endapply %}
                {% endblock %}
            </ul>

            <ul>
                {% block admin_navigation_favorites %}
                    {% apply spaceless %}
                        <li id="{{ favoritesMenuHeader }}">
                            <a class="rc"
                               onclick="_navExp(this);return false;"
                               href="#">
                                <b>
                                    {{ translate({ ident: "NAVIGATION_FAVORITES", noerror: true }) }}
                                </b>
                            </a>
                            <a class="ed"
                               href="{{ oViewConf.getSelfLink()|raw }}&cl=navigation&amp;item=favorites.html.twig"
                               target="basefrm">
                                {{ translate({ ident: "NAVIGATION_FAVORITES_EDIT", noerror: true }) }}
                            </a>
                            <ul>
                                {% for submenuitem in menufavorites %}
                                    {% if submenuitem.nodeType == constant("XML_ELEMENT_NODE") %}
                                        {% set submenuIndex = submenuIndex + 1 %}
                                        <li id="{{ favoritesMenuHeader }}-{{ submenuIndex }}"
                                            class="">
                                            <a href="{{ submenuitem.getAttribute('link')|raw }}"
                                               onclick="_navAct(this);"
                                               target="basefrm"
                                               class="rc">
                                                <b>
                                                    {{ translate({ ident: submenuitem.getAttribute('name')|default(submenuitem.getAttribute('id')), noerror: true }) }}
                                                </b>
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endapply %}
                {% endblock %}
            </ul>
        </td>
    </tr>
</table>

<script type="text/javascript">
    {% block admin_navigation_scripts %}
    <!--
    var _expid = '{{ historyMenuHeader ?: 0 }}';

    function _navExp(el) {
        var _cur = el.parentNode,
            _exp = document.getElementById(_expid);
        _cur.className = "exp";
        if (_expid != 0) {
            _exp.className = "";
        }
        if (_expid == _cur.id) {
            _expid = 0;
        } else {
            _expid = _cur.id;
        }
    }

    var _actid = 0;
    function _navAct(el) {
        var _cur = el.parentNode;
        _cur.className = "act";
        if (_actid != 0 && _actid != _cur.id) {
            document.getElementById(_actid).className = "";
        }
        _actid = _cur.id;
    }

    function _navExtExpAct(mnid, sbid) {
        var _mnli = document.getElementById(mnid);
        var _sbli = document.getElementById(sbid);
        if (_mnli && _sbli) {
            var _mna = _mnli.getElementsByTagName("a");
            var _sba = _sbli.getElementsByTagName("a");
            if (_mna.length && _sba.length) {
                _navExp(_mna[0]);
                _navAct(_sba[0]);
            }
        }
    }

    function _navExtExp(mnid) {
        var _mnli = document.getElementById(mnid);
        if (_mnli) {
            var _mna = _mnli.getElementsByTagName("a");
            if (_mna.length) {
                _navExp(_mna[0]);
            }
        }
    }

    function _navExtExpActByName(sbid) {
        var sbid = "nav_" + sbid;
        var _sbli = document.getElementsByName(sbid)[0];
        if (_sbli) {
            var mnid = _sbli.getAttribute("rel");
            var _mnli = document.getElementById(mnid);
            if (_mnli) {
                var _mna = _mnli.getElementsByTagName("a");
                var _sba = _sbli.getElementsByTagName("a");
                if (_mna.length && _sba.length) {
                    _navExp(_mna[0]);
                    _navAct(_sba[0]);
                }
            }
        }
    }

    //-->
    {% endblock %}
</script>
</body>
</html>
