{% include "headitem.html.twig" with {title: "GENERAL_ADMIN_TITLE"|translate} %}

{% if readonly %}
    {% set readonly = "readonly disabled" %}
{% else %}
    {% set readonly = "" %}
{% endif %}

<form name="transfer" id="transfer" action="{{ oViewConf.getSelfLink()|raw }}" method="post">
    {{ oViewConf.getHiddenSid()|raw }}
    <input type="hidden" name="oxid" value="{{ oxid }}">
    <input type="hidden" name="cl" value="news_main">
    <input type="hidden" name="editlanguage" value="{{ editlanguage }}">
</form>


<form name="myedit" id="myedit" action="{{ oViewConf.getSelfLink()|raw }}" method="post">
{{ oViewConf.getHiddenSid()|raw }}
<input type="hidden" name="cl" value="news_main">
<input type="hidden" name="fnc" value="">
<input type="hidden" name="oxid" value="{{ oxid }}">
<input type="hidden" name="voxid" value="{{ oxid }}">
<input type="hidden" name="editval[oxnews__oxid]" value="{{ oxid }}">

<table cellspacing="0" cellpadding="0" border="0" width="98%">
<tr>
    <td valign="top" class="edittext">

        <table cellspacing="0" cellpadding="0" border="0">
        {% block admin_news_main_form %}
            <tr>
                <td class="edittext" width="90">
                {{ translate({ ident: "GENERAL_ALWAYS_ACTIVE" }) }}
                </td>
                <td class="edittext">
                <input class="edittext" type="checkbox" name="editval[oxnews__oxactive]" value='1' {% if edit.oxnews__oxactive.value == 1 %}checked{% endif %} {{ readonly }}>
                {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_GENERAL_ACTIVE"), 'sHelpText': help_text("HELP_GENERAL_ACTIVE")} %}
                </td>
            </tr>
            <tr>
                <td class="edittext">
                {{ translate({ ident: "GENERAL_ACTIVFROMTILL" }) }}
                </td>
                <td class="edittext">
                {{ translate({ ident: "GENERAL_FROM" }) }}<input type="text" class="editinput" size="30" name="editval[oxnews__oxactivefrom]" value="{{ edit.oxnews__oxactivefrom|format_date }}" {% include "help.html.twig" with {helpid: "article_vonbis"} %} {{ readonly }}><br>
                {{ translate({ ident: "GENERAL_TILL" }) }} <input type="text" class="editinput" size="30" name="editval[oxnews__oxactiveto]" value="{{ edit.oxnews__oxactiveto|format_date }}" {% include "help.html.twig" with {helpid: "article_vonbis"} %} {{ readonly }}>
                {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_GENERAL_ACTIVFROMTILL"), 'sHelpText': help_text("HELP_GENERAL_ACTIVFROMTILL")} %}
                </td>
            </tr>
            <tr>
                <td class="edittext">
                {{ translate({ ident: "GENERAL_DATE" }) }}
                </td>
                <td class="edittext">
                <input type="text" class="editinput" size="15" maxlength="{{ edit.oxnews__oxdate.fldmax_length }}" name="editval[oxnews__oxdate]" value="{{ edit.oxnews__oxdate|format_date }}" {% include "help.html.twig" with {helpid: "article_delivery"} %} {{ readonly }}>
                {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_GENERAL_DATE"), 'sHelpText': help_text("HELP_GENERAL_DATE")} %}
                </td>
            </tr>
            <tr>
                <td class="edittext">
                {{ translate({ ident: "NEWS_MAIN_SHORTDESC" }) }}
                </td>
                <td class="edittext">
                <input type="text" class="editinput" size="40" maxlength="{{ edit.oxnews__oxshortdesc.fldmax_length }}" name="editval[oxnews__oxshortdesc]" value="{{ edit.oxnews__oxshortdesc.value }}" {{ readonly }}>
                {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_NEWS_MAIN_SHORTDESC"), 'sHelpText': help_text("HELP_NEWS_MAIN_SHORTDESC")} %}
                </td>
            </tr>
        {% endblock %}
        <tr>
            <td class="edittext">
            </td>
            <td class="edittext"><br>
                 {% include "language_edit.html.twig" %}
            </td>
        </tr>

        <tr>
            <td class="edittext">
            </td>
            <td class="edittext"><br>
            <input type="submit" class="edittext" name="save" value="{{ translate({ ident: "GENERAL_SAVE" }) }}" onClick="Javascript:document.myedit.fnc.value='save'" {{ readonly }}>
            </td>
        </tr>
        </table>
    </td>
    <!-- Anfang rechte Seite -->
    <td valign="top" class="edittext vr" align="left" width="50%">
        {% block admin_news_main_assign_groups %}
            {% if oxid != oViewConf.getAjaxLink()|raw %}
                <input {{ readonly }} type="button" value="{{ translate({ ident: "GENERAL_ASSIGNGROUPS" }) }}" class="edittext" onclick="JavaScript:showDialog('&cl=news_main&aoc=1&oxid={{ oxid }}');">
            {% endif %}
        {% endblock %}
    </td>
    </tr>
</table>

</form>

{% include "bottomnaviitem.html.twig" %}

{% include "bottomitem.html.twig" %}
