{% include "headitem.html.twig" with {title: "GENERAL_ADMIN_TITLE"|translate} %}

{% if readonly %}
    {% set readonly = "readonly disabled" %}
{% else %}
    {% set readonly = "" %}
{% endif %}

<form name="export_recipients" id="export_recipients" action="{{ oViewConf.getSelfLink()|raw }}" method="get"
      onSubmit="copyLongDesc( 'oxnewsletter__oxtemplate' );">
    {{ oViewConf.getHiddenSid()|raw }}
    <input type="hidden" name="cl" value="admin_newsletter">
    <input type="hidden" name="fnc" value="">
    <input type="hidden" name="editval[oxnewsletter__oxtemplate]" value="">

    <table cellspacing="0" cellpadding="0" border="0" width="98%;">
        <tr>
            <td class="edittext">
            </td>
            <td class="edittext">
                <div class="messagebox">
                    <strong>{{ translate({ ident: 'MAIN_INFO' }) }}</strong>
                    <br><br>
                    <p class="warning">
                        {{ translate({ ident: 'tbclnewsletter_warning' })|replace({ '%link%': translate({ ident: 'tbclnewsletter_documentation_link' }) })|raw }}
                    </p>
                </div>
                <input type="submit" class="edittext" name="export" id="newsletter_recipients"
                       value="{{ translate({ ident: "tbclnewsletter_recipients" }) }}"
                onClick="Javascript:document.export_recipients.fnc.value='export'" {{ readonly }}>
            </td>
        </tr>
    </table>

</form>

{% include "bottomnaviitem.html.twig" %}

{% include "bottomitem.html.twig" %}
