{% include "headitem.html.twig" with {title: "GENERAL_ADMIN_TITLE"|translate, box: "list"} %}
{% set where = oView.getListFilter() %}

{% if readonly %}
    {% set readonly = "readonly disabled" %}
{% else %}
    {% set readonly = "" %}
{% endif %}

<script type="text/javascript">
<!--
function StornoThisArticle( sID)
{
    blCheck = confirm("{{ translate({ ident: "ORDER_LIST_YOUWANTTOSTORNO" }) }}");
    if( blCheck == true)
    {
        var oSearch = document.getElementById("search");
        oSearch.oxid.value=sID;
        oSearch.fnc.value='storno';

        var oTransfer = parent.edit.document.getElementById("transfer");
        oTransfer.oxid.value=sID;
        oTransfer.cl.value='{{ default_edit }}';

       //forcing edit frame to reload after submit
       top.forceReloadingEditFrame();

       oSearch.submit();
    }
}
window.onload = function ()
{
    top.reloadEditFrame();
    {% if updatelist == 1 %}
        top.oxid.admin.updateList('{{ oxid }}');
    {% endif %}
}
//-->
</script>

<div id="liste">


<form name="search" id="search" action="{{ oViewConf.getSelfLink()|raw }}" method="post">
{% include "_formparams.html.twig" with {cl: "order_list", lstrt: lstrt, actedit: actedit, oxid: oxid, fnc: "", language: actlang, editlanguage: actlang} %}
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <colgroup>
        {% block admin_order_list_colgroup %}
            <col width="25%">
            <col width="25%">
            <col width="10%">
            <col width="17%">
            <col width="17%">
            <col width="2%">
        {% endblock %}
    </colgroup>
    <tr class="listitem">
        {% block admin_order_list_filter %}
            <td valign="top" class="listfilter first" height="20">
                <div class="r1"><div class="b1">
                <select name="folder" class="folderselect" onChange="document.search.submit();">
                    <option value="-1" style="color: #000000;">{{ translate({ ident: "ORDER_LIST_FOLDER_ALL" }) }}</option>
                    {% for field, color in afolder %}
                    <option value="{{ field }}" {% if folder == field %}SELECTED{% endif %} style="color: {{ color }};">{{ translate({ ident: field, noerror: true }) }}</option>
                    {% endfor %}
                </select>
                <input class="listedit" type="text" size="15" maxlength="128" name="where[oxorder][oxorderdate]" value="{{ where.oxorder.oxorderdate|format_date }}" {% include "help.html.twig" with {helpid: "order_date"} %}>
                </div></div>
            </td>
            <td valign="top" class="listfilter" height="20">
                <div class="r1"><div class="b1">
                <select name="addsearchfld" class="folderselect" >
                    <option value="-1" style="color: #000000;">{{ translate({ ident: "ORDER_LIST_PAID" }) }}</option>
                    {% for table, desc in asearch %}
                    {% set ident = 'ORDER_SEARCH_FIELD_' ~ desc %}
                    {% set ident = ident|upper %}
                    <option value="{{ table }}" {% if addsearchfld == table %}SELECTED{% endif %}>{{ translate({ ident: ident })|truncate(20, "..", true) }}</option>
                    {% endfor %}
                </select>
                <input class="listedit" type="text" size="15" maxlength="128" name="addsearch" value="{{ addsearch }}">
                </div></div>
            </td>
            <td valign="top" class="listfilter" height="20">
                <div class="r1"><div class="b1">
                <input class="listedit" type="text" size="7" maxlength="128" name="where[oxorder][oxordernr]" value="{{ where.oxorder.oxordernr }}">
                </div></div>
            </td>
            <td valign="top" class="listfilter" height="20">
                <div class="r1"><div class="b1">
                <input class="listedit" type="text" size="50" maxlength="128" name="where[oxorder][oxbillfname]" value="{{ where.oxorder.oxbillfname }}">
                </div></div>
            </td>
            <td valign="top" class="listfilter" height="20" colspan="2" nowrap>
                <div class="r1"><div class="b1">
                <div class="find"><input class="listedit" type="submit" name="submitit" value="{{ translate({ ident: "GENERAL_SEARCH" }) }}"></div>
                <input class="listedit" type="text" size="50" maxlength="128" name="where[oxorder][oxbilllname]" value="{{ where.oxorder.oxbilllname }}">
                </div></div>
            </td>
        {% endblock %}
    </tr>
    <tr>
        {% block admin_order_list_sorting %}
            <td class="listheader first" height="15">&nbsp;<a href="Javascript:top.oxid.admin.setSorting( document.search, 'oxorder', 'oxorderdate', 'asc');document.search.submit();" class="listheader">{{ translate({ ident: "ORDER_LIST_ORDERTIME" }) }}</a></td>
            <td class="listheader" height="15"><a href="Javascript:top.oxid.admin.setSorting( document.search, 'oxorder', 'oxpaid', 'asc');document.search.submit();" class="listheader">{{ translate({ ident: "ORDER_LIST_PAID" }) }}</a></td>
            <td class="listheader" height="15"><a href="Javascript:top.oxid.admin.setSorting( document.search, 'oxorder', 'oxordernr', 'asc');document.search.submit();" class="listheader">{{ translate({ ident: "GENERAL_ORDERNUM" }) }}</a></td>
            <td class="listheader" height="15"><a href="Javascript:top.oxid.admin.setSorting( document.search, 'oxorder', 'oxbillfname', 'asc');document.search.submit();" class="listheader">{{ translate({ ident: "ORDER_LIST_CUSTOMERFNAME" }) }}</a></td>
            <td class="listheader" height="15" colspan="2"><a href="Javascript:top.oxid.admin.setSorting( document.search, 'oxorder', 'oxbilllname', 'asc');document.search.submit();" class="listheader">{{ translate({ ident: "ORDER_LIST_CUSTOMERLNAME" }) }}</a></td>
        {% endblock %}
    </tr>

{% set blWhite = "" %}
{% set _cnt = 0 %}
{% for listitem in mylist %}
    {% set _cnt = _cnt+1 %}
    <tr id="row.{{ _cnt }}">

        {% block admin_order_list_item %}
            {% if listitem.oxorder__oxstorno.value == 1 %}
                {% set listclass = "listitem3" %}
            {% else %}
                {% if listitem['blacklist'] is defined and listitem.blacklist == 1 %}
                    {% set listclass = "listitem3" %}
                {% else %}
                    {% set listclass = 'listitem' ~ blWhite %}
                {% endif %}
            {% endif %}
            {% if listitem.getId() == oxid %}
                {% set listclass = "listitem4" %}
            {% endif %}
            <td valign="top" class="{{ listclass }} order_time" height="15"><div class="listitemfloating">&nbsp;<a href="Javascript:top.oxid.admin.editThis('{{ listitem.oxorder__oxid.value }}');" class="{{ listclass }}">{{ listitem.oxorder__oxorderdate|format_date('datetime', true) }}</a></div></td>
            <td valign="top" class="{{ listclass }} payment_date" height="15"><div class="listitemfloating"><a href="Javascript:top.oxid.admin.editThis('{{ listitem.oxorder__oxid.value }}');" class="{{ listclass }}">{{ listitem.oxorder__oxpaid|format_date }}</a></div></td>
            <td valign="top" class="{{ listclass }} order_no" height="15"><div class="listitemfloating"><a href="Javascript:top.oxid.admin.editThis('{{ listitem.oxorder__oxid.value }}');" class="{{ listclass }}">{{ listitem.oxorder__oxordernr.value }}</a></div></td>
            <td valign="top" class="{{ listclass }} first_name" height="15"><div class="listitemfloating"><a href="Javascript:top.oxid.admin.editThis('{{ listitem.oxorder__oxid.value }}');" class="{{ listclass }}">{{ listitem.oxorder__oxbillfname.value }}</a></div></td>
            <td valign="top" class="{{ listclass }} last_name" height="15"><div class="listitemfloating"><a href="Javascript:top.oxid.admin.editThis('{{ listitem.oxorder__oxid.value }}');" class="{{ listclass }}">{{ listitem.oxorder__oxbilllname.value }}</a></div></td>
            <td class="{{ listclass }}">
                {% if not readonly %}
                    <a href="Javascript:top.oxid.admin.deleteThis('{{ listitem.oxorder__oxid.value }}');" class="delete" id="del.{{ _cnt }}" {% include "help.html.twig" with {helpid: "item_delete"} %}></a>
                    <a href="Javascript:StornoThisArticle('{{ listitem.oxorder__oxid.value }}');" class="pause" id="pau.{{ _cnt }}" {% include "help.html.twig" with {helpid: "item_storno"} %}></a>
                {% endif %}
            </td>
        {% endblock %}
    </tr>
{% if blWhite == "2" %}
{% set blWhite = "" %}
{% else %}
{% set blWhite = "2" %}
{% endif %}
{% endfor %}
{% include "pagenavisnippet.html.twig" with {colspan: "6"} %}
</table>
</form>
</div>

{% include "pagetabsnippet.html.twig" %}

<script type="text/javascript">
if (parent.parent)
{   parent.parent.sShopTitle   = "{{ actshopobj.oxshops__oxname.getRawValue()|addslashes }}";
    parent.parent.sMenuItem    = "{{ translate({ ident: "ORDER_LIST_MENUITEM" }) }}";
    parent.parent.sMenuSubItem = "{{ translate({ ident: "ORDER_LIST_MENUSUBITEM" }) }}";
    parent.parent.sWorkArea    = "{{ _act }}";
    parent.parent.setTitle();
}
</script>
</body>
</html>

