{% block pagenavisnippet_main %}
{% if pagenavi %}

  {% set linkSort = "" %}
  {% for sTable, aField in oView.getListSorting() %}
    {% for sField, sSorting in aField %}
      {% set linkSort = linkSort|cat("sort[")|cat(sTable)|cat("][")|cat(sField)|cat("]=")|cat(sSorting)|cat("&amp;") %}
    {% endfor %}
  {% endfor %}

  {% set where = oView.getListFilter() %}
  {% set whereparam = "&amp;" %}
  {% for sTable, aField in where %}
    {% for sField, sFilter in aField %}
      {% set whereparam = whereparam|cat("where[")|cat(sTable)|cat("][")|cat(sField)|cat("]=")|cat(sFilter)|cat("&amp;") %}
    {% endfor %}
  {% endfor %}
  {% set viewListSize = oView.getViewListSize() %}
  {% set whereparam = whereparam|cat("viewListSize=")|cat(viewListSize) %}

<tr>
<td class="pagination" colspan="{{ colspan|default("2") }}">
  <div class="r1">
    <div class="b1">

    <table cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td id="nav.site" class="pagenavigation" align="left" width="33%">
            {{ translate({ ident: "NAVIGATION_PAGE" }) }} {{ pagenavi.actpage }} / {{ pagenavi.pages }}
        </td>
        <td class="pagenavigation" height="22" align="center" width="33%">
           {% for iPage, page in pagenavi.changePage %}
             <a id="nav.page.{{ iPage }}" class="pagenavigation{% if iPage == pagenavi.actpage %} pagenavigationactive{% endif %}" href="{{ oViewConf.getSelfLink()|raw }}&cl={{ oViewConf.getActiveClassName() }}&amp;oxid={{ oxid }}&amp;jumppage={{ iPage }}&amp;{{ linkSort }}actedit={{ actedit }}&amp;language={{ actlang }}&amp;editlanguage={{ actlang }}{{ whereparam }}&amp;folder={{ folder }}&amp;pwrsearchfld={{ pwrsearchfld }}&amp;art_category={{ art_category }}">{{ iPage }}</a>
           {% endfor %}
        </td>
        <td class="pagenavigation" align="right" width="33%">
          <a id="nav.first" class="pagenavigation" href="{{ oViewConf.getSelfLink()|raw }}&cl={{ oViewConf.getActiveClassName() }}&amp;oxid={{ oxid }}&amp;jumppage=1&amp;{{ linkSort|raw }}&amp;actedit={{ actedit }}&amp;language={{ actlang }}&amp;editlanguage={{ actlang }}{{ whereparam|raw }}&amp;folder={{ folder }}&amp;pwrsearchfld={{ pwrsearchfld }}&amp;art_category={{ art_category }}">{{ translate({ ident: "GENERAL_LIST_FIRST" }) }}</a>
          <a id="nav.prev" class="pagenavigation" href="{{ oViewConf.getSelfLink()|raw }}&cl={{ oViewConf.getActiveClassName() }}&amp;oxid={{ oxid }}&amp;jumppage={% if pagenavi.actpage - 1 > 0 %}{{ pagenavi.actpage - 1 }}{% else %}1{% endif %}&amp;{{ linkSort|raw }}&amp;actedit={{ actedit }}&amp;language={{ actlang }}&amp;editlanguage={{ actlang }}{{ whereparam|raw }}&amp;folder={{ folder }}&amp;pwrsearchfld={{ pwrsearchfld }}&amp;art_category={{ art_category }}">{{ translate({ ident: "GENERAL_LIST_PREV" }) }}</a>
          <a id="nav.next" class="pagenavigation" href="{{ oViewConf.getSelfLink()|raw }}&cl={{ oViewConf.getActiveClassName() }}&amp;oxid={{ oxid }}&amp;jumppage={% if pagenavi.actpage + 1 > pagenavi.pages %}{{ pagenavi.actpage }}{% else %}{{ pagenavi.actpage + 1 }}{% endif %}&amp;{{ linkSort|raw }}&amp;actedit={{ actedit }}&amp;language={{ actlang }}&amp;editlanguage={{ actlang }}{{ whereparam|raw }}&amp;folder={{ folder }}&amp;pwrsearchfld={{ pwrsearchfld }}&amp;art_category={{ art_category }}">{{ translate({ ident: "GENERAL_LIST_NEXT" }) }}</a>
          <a id="nav.last" class="pagenavigation" href="{{ oViewConf.getSelfLink()|raw }}&cl={{ oViewConf.getActiveClassName() }}&amp;oxid={{ oxid }}&amp;jumppage={{ pagenavi.pages }}&amp;{{ linkSort|raw }}&amp;actedit={{ actedit }}&amp;language={{ actlang }}&amp;editlanguage={{ actlang }}{{ whereparam|raw }}&amp;folder={{ folder }}&amp;pwrsearchfld={{ pwrsearchfld }}&amp;art_category={{ art_category }}">{{ translate({ ident: "GENERAL_LIST_LAST" }) }}</a>
        </td>
      </tr>
    </table>
    </div>
  </div>
</td>
</tr>
{% endif %}
{% endblock %}
