{% include "headitem.html.twig" with {title: "GENERAL_ADMIN_TITLE"|translate} %}

{% if readonly %}
    {% set readonly = "readonly disabled" %}
{% else %}
    {% set readonly = "" %}
{% endif %}

<form name="transfer" id="transfer" action="{{ oViewConf.getSelfLink()|raw }}" method="post">
    {{ oViewConf.getHiddenSid()|raw }}
    <input type="hidden" name="oxid" value="{{ oxid }}">
    <input type="hidden" name="cl" value="payment_main">
</form>


<b>{{ translate({ ident: "PRICEALARM_MAIL_OXIDPRICEALARM" }) }}</b>
<br><br>
{{ translate({ ident: "PRICEALARM_MAIL_OPENEMAILS1" }) }} {{ iAllCnt }} {{ translate({ ident: "PRICEALARM_MAIL_OPENEMAILS2" }) }}
<br><br>
{% if iAllCnt and not readonly %}
{{ translate({ ident: "PRICEALARM_MAIL_SENDPRICEALARMEMAIL1" }) }} <a href="{{ oViewConf.getSelfLink()|raw }}&cl=pricealarm_send" class="edittext" target="list" {% if readonly %}onclick="JavaScript:return false;"{% endif %}><b>{{ translate({ ident: "PRICEALARM_MAIL_SENDPRICEALARMEMAIL2" }) }}</b></a>
{% endif %}

{% include "bottomnaviitem.html.twig" %}
</table>
{% include "bottomitem.html.twig" %}