{% include "headitem.html.twig" with {box: "list", title: "PRICEALARM_SEND_TITLE"|translate, meta_refresh_sec: "2", meta_refresh_url: oViewConf.getSelfLink()|cat("&cl=pricealarm_send&iStart=`$iStart`&iAllCnt=`$iAllCnt`")} %}

<script type="text/javascript">
<!--
window.onload = function ()
{
    top.reloadEditFrame();
    {% if updatelist == 1 %}
        top.oxid.admin.updateList('{{ oxid }}');
    {% endif %}
}
//-->
</script>
<body>

<form name="search" id="search" action="{{ oViewConf.getSelfLink()|raw }}" method="post">
{% include "_formparams.html.twig" with {cl: "pricealarm_list", lstrt: lstrt, actedit: actedit, oxid: oxid, fnc: "", language: actlang, editlanguage: actlang} %}
</form>

<div class="liste">
<center>
<h1>{{ translate({ ident: "PRICEALARM_MESSAGE_SENT" }) }}: {{ iStart }} {{ translate({ ident: "PRICEALARM_SEND_FROM" }) }} {{ iAllCnt }}.</h1>
</center>
</div>

{% include "pagetabsnippet.html.twig" with {noOXIDCheck: "true"} %}
</body>
</html>
