{% include "headitem.html.twig" with {title: "GENERAL_ADMIN_TITLE"|translate, box: "list"} %}
{% set where = oView.getListFilter() %}

{% if readonly %}
    {% set readonly = "readonly disabled" %}
{% else %}
    {% set readonly = "" %}
{% endif %}

<script type="text/javascript">
<!--
window.onload = function ()
{
    {% if updatenav %}
    var oTransfer = top.basefrm.edit.document.getElementById( "transfer" );
    oTransfer.updatenav.value = 1;
    oTransfer.cl.value = '{{ default_edit }}';
    {% endif %}
    top.reloadEditFrame();
}
//-->
</script>

<form name="search" id="search" action="{{ oViewConf.getSelfLink()|raw }}" method="post">
    {% include "_formparams.html.twig" with {cl: "shop_list", lstrt: lstrt, actedit: actedit, oxid: oxid, fnc: "", language: actlang, editlanguage: actlang, delshopid: "", updatenav: ""} %}
    {% include "pagetabsnippet.html.twig" %}
</form>

<script type="text/javascript">
if (parent.parent != null && parent.parent.setTitle )
{   parent.parent.sShopTitle   = "{{ actshopobj.oxshops__oxname.getRawValue()|addslashes }}";
    parent.parent.sMenuItem    = "{{ translate({ ident: "SHOP_LIST_MENUITEM" }) }}";
    parent.parent.sMenuSubItem = "{{ translate({ ident: "SHOP_LIST_MENUSUBITEM" }) }}";
    parent.parent.sWorkArea    = "{{ _act }}";
    parent.parent.setTitle();
}
</script>
</body>
</html>
